<!DOCTYPE html>
<html lang="en">
<meta http-equiv="Cache-Control" content="no-store"/>
<head>
    <meta charset="UTF-8">
    <title>Add Job</title>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <script src="/js/jquery-3.6.3.min.js"></script>

</head>
<body>
<div class="container">
    <form action="#" th:action="@{/schendule}" th:object="${jobDetailDTO}" method="post">

        <input type="hidden" th:value="${jobDetailDTO.jobName}" name="jobName">
        <input type="hidden" th:value="${jobDetailDTO.jobGroup}" name="jobGroup">

        <!--Description-->
        <div class="p-2 bg-light border m-2">
            <div class="row">
                <div class="col">
                    <p><strong>Description:</strong></p>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Alias" aria-label="Alias" th:field="*{alias}"
                           id="alias">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Address" aria-label="Address"
                           th:field="*{address}" id="address">
                </div>
            </div>
        </div>

        <!--Credentions-->
        <div class="p-2 bg-light border m-2">
            <div class="row">
                <div class="col">
                    <p><strong>Credentions:</strong></p>
                </div>
            </div>

            <div class="row p-1">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="ip address" aria-label="ip address"
                           th:field="*{ip}" id="ip">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="port" aria-label="port"
                           th:field="*{port}" id="port">
                </div>
            </div>

            <div class="row p-1">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Login" aria-label="Login"
                           th:field="*{login}" id="login">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Password" aria-label="Password"
                           th:field="*{password}" id="password">
                </div>
            </div>
        </div>


        <!--Common Settings-->
        <div class="p-2 bg-light border m-2">
            <div class="row">
                <div class="col">
                    <p><strong>Settings:</strong></p>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Save Folder" aria-label="Alias"
                           th:field="*{saveFolder}" id="saveFolder">

                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Number of tries to connect"
                           aria-label="Number of tries to connect"
                           th:field="*{numOfTries}" id="numOfTries">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-check  m-2">
                        <input class="form-check-input" type="checkbox" value="" id="repeatLater"
                               th:field="*{repeatLater}">
                        <label class="form-check-label" for="repeatLater">
                            Repeat, if fails:
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Next time run, in minutes"
                           aria-label="Next time run, in minutes" disabled
                           th:field="*{nextTimeRun}" id="nextTimeRun" value="">

                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Number of next time hops"
                           aria-label="Number of next time hops" disabled
                           th:field="*{numOfRepeats}" id="numOfRepeats" value="">
                </div>
            </div>


            <div class="row m-2">
                <div class="col">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="type" id="ftp" value="FTP" th:checked="${jobDetailDTO.getType().equals('FTP')}">
                        <label class="form-check-label" for="ftp">
                            FTP
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="type" id="hiwatch" value="HiWatch" th:checked="${jobDetailDTO.getType().equals('HiWatch')}">
                        <label class="form-check-label" for="hiwatch">
                            HiWatch
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Data Timeout in miliseconds"
                           aria-label="Data Timeout in millisecond(1000ms = 1s)" disabled
                           th:field="*{dataTimeOut}" id="dataTimeOut">

                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Channel "
                           aria-label="Channel" disabled
                           th:field="*{channel}" id="channel">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="File postfix"
                           aria-label="File postfix" disabled
                           th:field="*{filePostfix}" id="filePostfix">

                </div>
                <div class="col">
                    <input type="datetime-local" class="form-control"  disabled
                           th:field="*{from}" id="from">
                </div>
            </div>

            <div class="row">
                <div class="col">

                </div>
                <div class="col">
                    <input type="datetime-local" class="form-control"  disabled
                           th:field="*{to}" id="to">
                </div>
            </div>
        </div>
        <!--Once or Regular-->
        <div class="p-2 bg-white border m-2">
            <div class="row">
                 <div class="col">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="jobStart" id="onceChoice" value="once" checked>
                        <label class="form-check-label" for="onceChoice">
                            Once time execute
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="jobStart" id="regularChoice" value="regular">
                        <label class="form-check-label" for="regularChoice">
                            Regular run
                        </label>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col">
                    <input type="datetime-local" class="form-control" disabled
                           th:field="*{once}" id="once">

                </div>
                <div class="col">
                    <input type="time" class="form-control" disabled
                           th:field="*{regular}" id="regular">
                </div>
            </div>
        </div>
        <!-- Telegram Settings-->
        <div class="p-2 bg-white m-2">
            <div class="row">
                <div class="col">
                    <p><strong>Telegram alarms chat:</strong></p>
                </div>

            </div>
            <div class="row">
                <div class="col m-10">
                    <input type="text" class="form-control" placeholder="Telegram key"
                           aria-label="Telegram key" th:field="*{telegramKey}" id="telegramKey">

                </div>
                <div class="col m-10">
                    <input type="text" class="form-control" placeholder="Chat id"
                           aria-label="Chat id"
                           th:field="*{chatId}" id="chatId">
                </div>
            </div>
        </div>

        <div class="bg-white">
            <div class="text-center">
                <input class="btn btn-primary" type="submit" value="Save Job">
            </div>
        </div>


    </form>
</div>
<script src="/js/actions.js"></script>
</body>
</html>