<!DOCTYPE html>
<html lang="en">
<meta http-equiv="Cache-Control" content="no-store" />
<head>
    <meta charset="UTF-8">
    <title>Job Detail</title>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<div class="container">
    <h2 class="h2 text-center">Job Detail</h2>
<table class="table table-borderless">
    <tr>
        <td >Description</td>
        <td th:text="${jobDatail.getDescription()}"></td>
    </tr>
    <tr>
        <td>Ip Address</td>
        <td th:text="${jobDatail.getIp()}"></td>
    </tr>
    <tr>
        <td>Login</td>
        <td th:text="${jobDatail.getLogin()}"></td>
    </tr>
     <tr>
        <td>Ftp password</td>
        <td th:text="${jobDatail.getPassword()}"></td>
    </tr>
    <tr>
        <td>Regular time execution </td>
        <td th:text="${jobDatail.getLocalTime()}"></td>
    </tr>
    <tr>
        <td>Once time execution </td>
        <td th:text="${jobDatail.getDateTime()}"></td>
    </tr>

    <tr>
        <td>Path to save:</td>
        <td th:text="${jobDatail.getPath()}"></td>
    </tr>

    <tr>
        <td>Telegram Bot Key:</td>
        <td th:text="${jobDatail.getTelegramKey()}"></td>
    </tr>

    <tr>
        <td>ChatId:</td>
        <td th:text="${jobDatail.getChatId()}"></td>
    </tr>
    <tr>
        <td>
            <form action="#"  th:action="@{/editJob}"  th:object="${jobDTO}"   method="post">
                <input type="hidden" th:value = "${jobDatail.jobName}" name ="jobName">
                <input type="hidden"  th:value = "${jobDatail.jobGroup}"  name = "jobGroup">
                <button type="submit"  class="btn btn-success" >Edit</button>
            </form>
        </td>
        <td>
            <form action="#"  th:action="@{/delJob}"  th:object="${jobDTO}"   method="post">
                <input type="hidden" th:value = "${jobDatail.jobName}" name ="jobName">
                <input type="hidden"  th:value = "${jobDatail.jobGroup}"  name = "jobGroup">
                <button type="submit"  class="btn btn-danger">Delete</button>
            </form>
        </td>
    </tr>

</table>
</div>
</body>
</html>